.header__links{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
  }


 @media  screen and  (max-width: 767px){
    .header__links{
      margin: 14px 0 0;
    }
}