
.place__image{
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    .place__image{
      width: 440px;
    }
  }

  @media screen and (max-width: 960px) {
    .place__image{
      width: 340px;
      margin: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .place__image{
      width: 320px;
      margin: 0;
    }
}

@media screen and (max-width: 337px) {
    .place__image{
        margin: 0;
    }
}